.card-title {
    margin-top: 3rem;
    max-width: 70rem;
    border: 1px solid black;
    & > div {
        padding: 0 1rem !important;
    }
}

.text {
    text-align: left;
    margin: 1rem;
    max-width: 60rem;
    font-size: 1rem;
    border-left: 1px solid;
    padding-left: 1rem;
}